server {
    # الاستماع للمنافذ الافتراضية داخل الحاوية
    listen 80;
    index index.php index.html;
    
    # تحديد مسار المجلد العام لمشروع لارافيل (مهم جداً)
    root /var/www/public;

    # إعدادات تسجيل الأخطاء والزيارات (اختياري ولكن مفيد للمراقبة)
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    # توجيه جميع الطلبات الروابط إلى ملف index.php الخاص بلارافيل
    location / {
        try_files $uri $uri/ /index.php?$query_string;
        gzip_static on;
    }

    # معالجة وتمرير ملفات PHP إلى حاوية التطبيق (PHP-FPM)
    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+)\.php(/.*)$;
        
        # 'app' هنا هو اسم الخدمة المكتوب في ملف docker-compose.yml
        fastcgi_pass app:9000; 
        
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_param_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }
}
